article {
    margin-right: 0px;
}
.pf-c-card {
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
    height: 400px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #39a5dc;
    width: 300px;
    float: left;
}

.app-btns {
    
}

img {
    vertical-align: middle;
    border:0;
}

.logo {
    height: 100px;
    display: block;
    margin: auto;
}

.pf-c-button {
    color: #39a5dc;
}