#root{
    --pf-global--BackgroundColor--150 : #393f44;
}

#header-logo {
    max-height: 35px;
    width: auto;
    cursor: default;
}

#valeria-logo {
    max-height: 35px;
    width: auto;
    cursor: default;
    margin: 0;
}

.pf-icon {
    margin-right: 10px;
    font-size: 20px;
}

.pf-c-page__sidebar {
    background-color: #292e34;
    width: 200px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: black;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
}

.pf-c-page__sidebar-body {
    padding: 0;
}

.pf-c-nav__simple-list .pf-c-nav__link.pf-m-current {
    background-color: #393f44;
    font-weight: bold;
    color: white;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #39a5dc;
}

.pf-c-nav [class*="link"] {
    color: #d1d1d1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 200px;
    height: 63px;
    text-align: inherit;
}

.pf-c-nav [class*="link"]:hover {
    background-color: #393f44;
    font-weight: bold;
    color: white;
}

.pf-c-nav__link.active{
    background-color: #393f44;
    font-weight: bold;
    color: white;
    cursor: default;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #39a5dc;
}

.pf-c-nav__link.active .pf-icon{
    color: #39a5dc;
}

.pf-c-nav__simple-list .pf-c-nav__link.pf-m-current .pf-icon {
    color: #39a5dc;
}

.pf-c-nav [class*="link"]:hover .pf-icon {
    color: #39a5dc;
}

.pf-l-toolbar .pf-c-dropdown__toggle::before {
    height: 35px;
}